.search-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  ion-item {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 8px;
  }

  ion-button {
    --background: linear-gradient(90deg, #007bff, #00d4ff);
    --color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-transform: uppercase;
  }

  ion-button:hover {
    --background: linear-gradient(90deg, #0056b3, #008bbd);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}

ion-avatar img {
  border-radius: 5px; 
  width: 60px;
  height: 32px; 
  border: 2px solid #007bff;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /*add a smooth animation */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-avatar img:hover {
  transform: scale(1.05); /*slight zoom in */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 123, 255, 0.5);
}


ion-list {
  margin-top: 16px;
  ion-item {
    display: flex;
    align-items: center;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 8px;

    ion-label h2 {
      font-size: 18px;
      color: #007bff;
      font-weight: bold;
    }

    ion-label p {
      font-size: 15px;
      color: #6c757d;
    }

    ion-button { /* Blue clour from left fade to right */
      --background: #007bff;
      --color: #fff;
      border-radius: 50%;
      padding: 5px;
    }

    ion-button:hover {
      --background: #0056b3;
    }
  }
}

p {
  text-align: left;
  font-size: 16px;
  color: #6c757d;
  margin-top: 20px;
}
