// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/* Light and Dark Mode Features */

/*Light Mode */
:root [theme='light'] {
--ion-background-color: #ffffff;
--ion-text-color: #000000;
--ion-item-background-color: #f8f8f8; 
}

/* Dark Mode */
:root [theme='dark'] {
    --ion-background-color: #121212;
    --ion-text-color: #e0e0e0e0;
    --ion-item-background-color: #1f1f1f
}