ion-header {
    background: linear-gradient(135deg, #2196f3, #21cbf3); 
    color: white; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  ion-title {
    font-size: 1.5rem; 
    text-align: center; 
  }
  
  
  ion-content {
    padding: 16px; 
    background-color: #f9f9f9; 
  }
  
  
  ion-list {
    margin-top: 16px;
    background: rgb(36, 204, 251); 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 8px; 
  }
  
  
  ion-item {
    align-items: flex-start; 
    margin-bottom: 3px; 
  }
  
  
  ion-thumbnail img {
    border-radius: 8px; 
    width: 80px; 
    height: 80px;
    object-fit: cover; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
  
  ion-label {
    margin-left: 10px; 
    h2 {
      font-size: 1.1rem; 
      font-weight: bold; 
      margin: 1; 
    }
    p {
      font-size: 0.9rem;
      color: #a29d9d; 
      margin-top: 4px; 
    }
  }
  
  
  ion-button {
    --background: #21cdf3b7; 
    --border-radius: 10px; 
    --padding-start: 8px;
    --padding-end: 8px;
    color: white; 
    font-size: 0.9rem; 
    text-transform: uppercase; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
  }
  
  ion-button:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  
  ng-template p {
    text-align: center; 
    color: #b4b4b4; 
    font-size: 1rem; 
    margin-top: 24px; 
  }

  ion-buttons[slot="start"] {
    margin-top: 20px;
    background: linear-gradient(135deg, #4caaaf, #9cf5fd); 
    color: white; 
    margin: auto;
    font-weight: bold;
    border-radius: 25px; 
    text-transform: uppercase; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  ion-buttons[slot="start"]:hover {
    background-color: #4caf50; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  