<ion-header>
  <ion-toolbar>
    <ion-title>G00438786</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToSetting()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Welcome to the Country, News & Weather App</h2>
    <ion-item>
      <ion-label position="floating">Enter a Country</ion-label>
      <ion-input [(ngModel)]="countryName"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="getCountries()">Search Country</ion-button>
  </div>

  <ion-list *ngIf="recentSearches.length > 0">
    <ion-list-header>Recent Searches</ion-list-header>
    <ion-item *ngFor="let country of recentSearches" (click)="selectRecentSearch(country)">
      {{ country }}
    </ion-item>
  </ion-list>
</ion-content>
