<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">Back</ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [(ngModel)]="selectSetting">
      <ion-list-header>
        <ion-label>Select Units</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Metric</ion-label>
        <ion-radio value="metric"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Standard</ion-label>
        <ion-radio value="standard"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Imperial</ion-label>
        <ion-radio value="imperial"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list>
      <ion-item>
        <ion-label>Dark Mode</ion-label>
        <ion-toggle [(ngModel)]="isDarkMode" (ionChange)="toggleDarkMode($event)"></ion-toggle>
      </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="saveSetting()">Save Setting</ion-button>
  <ion-buttons slot="start">
    <ion-button (click)="goBack()">Back</ion-button>
  </ion-buttons>
  
</ion-content>

